@model PFE.Models.Heuresup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Heuresup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dureehs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dureehs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddetailNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddetailNavigation.Iddetail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idhs">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
